
.fade-text {
  font-size: .8rem;
  color: rgb(211, 209, 209);
}

.hyper-link-button-container {
  display: flex;
  justify-content: space-between;
}


.hyper-link-button {
  text-decoration: underline;
}
