
.header {
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--header-padding-topbot) .9rem;
  background-color: var(--header-bg);
}


.header img {
  height: var(--header-height);
}


.header .svg-close-button {
  display: none;
}

