
/* -------------------------------------------------------------------------- */
/* Landing Hero section.                                                      */
/* -------------------------------------------------------------------------- */


.landing-main-section {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.landing-img-manifest {
  width: 90%; /* TODO: On larger screen it should be 60% */
  margin-bottom: 1rem;
}


.landing-subtitle {
  width: min(100%, var(--max-width));
  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: center;
  color: white;
  letter-spacing: .1em;
  font-size: calc(.6em + 1vw);
  text-shadow: 2px 0px 3px black;
}


.landing-button-container {
  width: min(100%, var(--max-width));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* This is for smaller screens */
  gap: 1.5rem;

  margin-top: 2rem;
}


.landing-button {
  display: inline-block;
  width: 80%;
  min-height: 2rem;
  padding: .5rem;

  outline: none;
  border: none;
  cursor: pointer;

  font-size: 1.1rem;
  font-weight: 500;

  text-decoration: none; /* border-radius: 10px; */
  border-radius: 10px;
  color: black;
  background-color: var(--color-gold);
  transition: .2s;
}


.landing-button:hover {
  scale: 1.05;
}


.landing-button.second {
  color: var(--color-gold);
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--color-gold);
}


.landing-button.second:hover {
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
}

/* -------------------------------------------------------------------------- */
/* Event info 761510*/
/* -------------------------------------------------------------------------- */


.ticket-event-info-container {
  display: flex;
  flex-direction: column;
}


.tickets-container {
  position: relative;
  height: calc(var(--ticket-height) + 5rem);
  width: calc(var(--ticket-height)/3);
}

.ticket-img {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin:5% 50%;
  width: var(--ticket-height);
  transition: .5s;
}

.ticket-img:nth-child(3) { transform: rotate(-90deg); }
.ticket-img:nth-child(1) { transform: rotate(-80deg); }
.ticket-img:nth-child(2) { transform: rotate(-100deg); }

.tickets-container:hover .ticket-img:nth-child(3) { transform: rotate(-95deg); }
.tickets-container:hover .ticket-img:nth-child(1) { transform: rotate(-70deg); }
.tickets-container:hover .ticket-img:nth-child(2) { transform: rotate(-110deg); }


.ticket-event-info-container {
  min-height: var(--ticket-height);
}


.event-info-container {
  position: relative;
  margin-bottom: .7rem;
  height: 1.2rem;
  display: flex;
  gap: 1.8rem;
}

.info-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mask-image: linear-gradient(to bottom,
    hsla(0, 0%, 0%, 1) 0,
    hsla(0, 0%, 0%, 1) 20%,
    hsla(0, 0%, 0%, 0) 100%);
  z-index: -1;
}

.info-card {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}


.artist-card {
  margin: .5rem;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 25rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.22);

  font-size: .7rem;
  max-width: 19rem;
}

.artist-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mask-image: linear-gradient(to bottom,
    hsla(0, 0%, 0%, 1) 0,
    hsla(0, 0%, 0%, 1) 50%,
    hsla(0, 0%, 0%, 0) 90%);
  z-index: -1;
}

.artist-card-info {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
}

/* -------------------------------------------------------------------------- */
/* Venue */
/* -------------------------------------------------------------------------- */

.contact-section {
  font-size: .7rem;
}

@media screen and (min-width: 668px) {
  .contact-section {
    font-size: 1rem;
  }
}

.map-container {
  width: 100%;
  height: 18rem;
  border-radius: 10px;
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* Social Media */
/* -------------------------------------------------------------------------- */


.social-media-container {
  gap: 2rem;
  display: flex;
}

.social-media-icon {
  width: 2.5rem;
}


/* -------------------------------------------------------------------------- */
/* Responsive. */
/* -------------------------------------------------------------------------- */


@media screen and (min-width: 668px) {
  .landing-img-manifest {
    width: auto;
    height: 60%;
  }

  .landing-subtitle {
    font-size: 1.5em;
  }

  .landing-button-container {
    flex-direction: row;
  }

  .landing-main-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }


  .ticket-event-info-container {
    margin-top: 20%;
  }

  .tickets-container {
    position: relative;
    width: calc(var(--ticket-height-desk) + 5rem);
    height: calc(var(--ticket-height-desk)/3);
    margin-bottom: 10%;
  }

  .ticket-img {
    transform: rotate(0);
    transform-origin:5% 50%;
    width: var(--ticket-height-desk);
    transition: .5s;
  }

  .ticket-img:nth-child(3) { transform: rotate(0deg); }
  .ticket-img:nth-child(2) { transform: rotate(-15deg); }
  .ticket-img:nth-child(1) { transform: rotate(-25deg); }

  .tickets-container:hover .ticket-img:nth-child(3) { transform: rotate(-4deg); }
  .tickets-container:hover .ticket-img:nth-child(2) { transform: rotate(-20deg); }
  .tickets-container:hover .ticket-img:nth-child(1) { transform: rotate(-35deg); }

}


