
/* -------------------------------------------------------------------------- */
/* Landing Hero section.                                                      */
/* -------------------------------------------------------------------------- */

.landing-main-section {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.landing-img-manifest {
  width: 90%; /* TODO: On larger screen it should be 60% */
  margin-bottom: 1rem;
}


.landing-subtitle {
  width: min(100%, var(--max-width));
  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: center;
  color: white;
  letter-spacing: .1em;
  font-size: calc(.6em + 1vw);
  text-shadow: 2px 0px 3px black;
}


.landing-button-container {
  width: min(100%, var(--max-width));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* This is for smaller screens */
  gap: 1.5rem;

  margin-top: 4rem;
}


.landing-button {
  display: inline-block;
  width: 80%;
  min-height: 2rem;
  padding: .5rem;

  outline: none;
  border: none;
  cursor: pointer;

  font-size: 1.1rem;
  font-weight: 500;

  text-decoration: none; /* border-radius: 10px; */
  border-radius: 10px;
  color: black;
  background-color: var(--color-gold);
  transition: .2s;

}


.landing-button:hover {
  background-color: var(--color-gold);
}


.landing-button.second {
  color: var(--color-gold);
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--color-gold);
}


.landing-button.second:hover {
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
}

/* -------------------------------------------------------------------------- */
/* Event info */
/* -------------------------------------------------------------------------- */


.event-info-container {
  position: relative;
  margin-bottom: .7rem;
  height: 1.2rem;
  display: flex;
  gap: 1.8rem;
}

.info-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mask-image: linear-gradient(to bottom,
    hsla(0, 0%, 0%, 1) 0,
    hsla(0, 0%, 0%, 1) 20%,
    hsla(0, 0%, 0%, 0) 100%);
  z-index: -1;
}

.info-card {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  /* background-color: red; */
}


.artist-card {
  margin: .5rem;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 25rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.22);

  max-width: 19rem;
}

.artist-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  mask-image: linear-gradient(to bottom,
    hsla(0, 0%, 0%, 1) 0,
    hsla(0, 0%, 0%, 1) 50%,
    hsla(0, 0%, 0%, 0) 100%);
  z-index: -1;
}

.artist-card-info {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

/* -------------------------------------------------------------------------- */
/* Venue */
/* -------------------------------------------------------------------------- */

.map-container {
  width: 100%;
  height: 18rem;
  border-radius: 10px;
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* Social Media */
/* -------------------------------------------------------------------------- */


.social-media-container {
  gap: 2rem;
  display: flex;
}

.social-media-icon {
  width: 2rem;
}


/* -------------------------------------------------------------------------- */
/* Responsive. */
/* -------------------------------------------------------------------------- */


@media screen and (min-width: 668px) {
  .landing-img-manifest {
    width: auto;
    height: 30%;
  }
}


