
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.5);
}

.modal {
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  line-height: 1.4;
  padding: 2rem;

  background-color: #313131;
  border-radius: .5rem;

  max-width: 80%;
  min-width: 90%;
}

.close-modal {
  width: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
}